{{#each friends}}

        <div class="friend draggable" data-id="{{id}}">
            <img class="photo" src="{{photo_100}}">
            <div class="name">{{first_name}} {{last_name}}</div>
            <div class="plus" data-add="{{id}}"></div>
        </div>

{{/each}}

{{#each friendsInList}}

        <div class="friend draggable" data-id="{{id}}">
            <img class="photo" src="{{photo_100}}">
            <div class="name">{{first_name}} {{last_name}}</div>
            <div class="cross" data-remove="{{id}}"></div>
        </div>

{{/each}}